html, body, #root {
  width: 100%;
  height: 100%;
}

.App {
  margin: 0 20px;
  font-size: 16px;
  height: 97%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.bg-faded {
  background-color: #DE86D6 !important;
}
