.Create-post-form {
    padding: 45px;
    font-size: 18px;
    text-align: center;
}

.Create-post-header {
    padding-bottom: 15px;
}

.Create-post-required {
    color: red;
}

.Create-button-container {
    text-align: right;
}

.create-post-btn {
    color: white;
    width: 85px;
    margin: 0 10px;
    padding: 8px;
    text-align: center;
}

.create-post-clear {
    background-color: red;
}

.create-post-submit {
    background-color: #28a745;
}

.Create-post-word-count {
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
}