.Post-container {
    margin: 20px;
}

.Post-time {
    padding-left: 15px;
}

.Post-message {
    padding: 20px 0;
    border-bottom: dashed 1px #DE86D6;
}

.Post-btn {
    color: white;
    width: 120px;
    margin: 0 10px;
    padding: 8px;
    text-align: center;
}

.Post-back {
    background-color: red;
}

.Post-comment-user {
    font-weight: 600;
}

.line-break {
    height: 3px;
    border-top: dashed 1px #DE86D6;
}

.line-break2 {
    height: 15px;
    border-top: solid 2px #DE86D6;
}


@media only screen and (max-width: 765px) {
    .Comment-hide-on-sm {
        display: none;
    }
}

@media only screen and (min-width: 766px) {
    .Comment-hide-on-lg {
        display: none;
    }
}